---
faq:
  - question: When is the 2019 Notary Node election?
    answer: The 2019 Notary Node election is scheduled to begin on April 14, 2019. The voting period will end on May 14.
  - question: Who can participate?
    answer: Anyone who holds KMD can vote in the election. Special VOTE tokens are sent out on a 1:1 basis based on a snapshop that will be taken on April 1, 2019.
  - question: What is it for?
    answer: The purpose of the election is to allow the Komodo community to choose the Notary Node Operators. Please read the pages in the [about](/) section to learn more about Notary Nodes.
  - question: Why does Komodo hold annual Notary Node Elections?
    answer: The delayed proof of work (dPoW) notarization process is vital to the security of the Komodo ecosystem. As such, it's essential to have competent individuals operating the Notary Nodes. Rather than the Komodo team handpicking Notary Node Operators, the Komodo team chose to open the process to the community and allow KMD holders to select Notary Node Operators in as decentralized a way as possible.
  - question: How do I vote?
    answer: Simply send your VOTE tokens to the address(es) of the candidate(s) you want to vote for. It works the same way as sending any other coin or token. You can send all of your VOTE tokens to one candidate or you can split your VOTE amongst several candidates. Winning candidates have the most VOTE.
---

<h1>Election FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>
