---
faq:
  - question: When is the election?
    answer: Tentative date for 2019, April 14 - May 14
  - question: Who can participate?
    answer: Voting is for anyone with KMD, VOTE tokens are sent out on a 1:1 basis based on a snapshop with tentative date for 2019 April 1.
  - question: What is it for?
    answer: Please read the pages in the [about](/) section to find out more.
  - question: Why?
    answer: The dPoW security process is a like a political voting sortition.   The representatives of this sortition process are voted in by the Komodo community.
  - question: How to vote?
    answer: Send your VOTE to the candidates address you want to vote for.  You can split your VOTE amongst several candidates.  Winning candidates have the most VOTE.
---

<h1>Election FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>